@import url('https://fonts.googleapis.com/css?family=PT+Serif|Poppins&display=swap');

body{
	font-family: poppins;
	background: #f3f3f3;
}
		td{
			word-wrap: break-word;
		}
		table{
			table-layout: fixed;
			width: 100%;
		}

*:focus{
	outline: none!important;
	box-shadow: none!important;
}
.navbar-brand{
	font-family: 'PT Serif', serif;
}
.row.flexRow { display: flex; flex-wrap: wrap;}
.row {
	display: flex; 
	flex-wrap: wrap;
}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}
img{
	width: 100%;
}

footer{
	background: #5a5a5a;
	color: #fff;
	padding: 10px 0px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#editfoto{
	margin: 0px auto!important;
}

#foto>.image{
	width: 200px;
	margin: 20px auto;
	height: 200px;
	background:#3498db;
	overflow: hidden;
	background-position: center;
	background-size: 80%;
	border-radius: 100px;
}
#foto>.image>img{
	position: relative;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.bg-utama{
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
	color: #fff;
	background: #005995!important;
}

.kertas{
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.12);
	margin: 10px 0px;
	margin-bottom: 0px!important;
}

.judulke{
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #c5e1fd;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.judul{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.card-foto{
	column-count: 1;
}

.card-datadiri{
	column-count: 1;
}

.card-publish{
	column-count: 2;

}

@media screen and (max-width:768px){
	.card-publish{
		column-count:1;

}