@import url('https://fonts.googleapis.com/css?family=PT+Serif|Poppins&display=swap');

body{
	font-family: poppins;
	background: #f3f3f3;
}
*:focus{
	outline: none!important;
	box-shadow: none!important;
}
img{
	width: 100%;
}
.Nama h5{
	font-size: 20px;
	font-weight: bold;
}
.image{
    width: 100px;
    height: 100px;
    background-image: url(https://www.dkmotors.ca/frontend/assets/images/placeholder/inventory-full-placeholder.png);
    overflow: hidden;
    background-position: center;
    background-size: 80%;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
.image img{
	position: relative;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.navbar-brand{
	font-family: 'PT Serif', serif;
}
.navbar{
	padding: 15px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
}
.form-control{
	border: none!important;
	width: 90%!important;
}
.bg-biru{
	background: #005995;
}
.bg-kuning{
	background: #f7e50a;
}
.cari{
	background: #fff;
	padding: 0px 15px;
	border-radius: 100px;
	width: 50%;
}
.isi{
	max-width: 34%;
	margin: 0 auto;
}
.isi label{
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.login{
	border-radius: 100px;
}
.gambargede{
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 14% 0px 0px 0px;
	height: 450px;
	background: url(../image/user.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.kertas{
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.12);
	margin: 20px 10px;
	margin-bottom: 0px!important;
}

.footer{
	padding: 20px 0px;
}
.judul{
	font-weight: bold;
	color: #005995;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
footer.credit{
	background: #005995;
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

.isi-dosen{
	min-height: 80vh!important;
}