@import url('https://fonts.googleapis.com/css?family=PT+Serif|Poppins&display=swap');

body{
	font-family: poppins;
	background: #f3f3f3;
}
*:focus{
	outline: none!important;
	box-shadow: none!important;
}
img{
	width: 100%;
}
.nav-tabs .nav-item {
	margin-bottom: -1px;
	background: #e6e6e6;
	border: 1px solid #ccc;
	border-bottom: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content{
	border: 1px solid #ccc;
	background: #fff;
	padding: 20px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
	border-top: 0px;
}
.isipublish{
	border-top: 1px solid #ccc!important;
}
.Nama h5{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 15px;
}
.dataatas{
	padding: 25px 0px;
	background: #00000073;
	border-radius: 10px;
}
.data-isi{
	padding: 40px 0px;
    min-height: 45vh;	
}
.ket{
	color: #d0d0d0;
}
.ket h6{
	color: #fff;
}
.ket a{
	color: #fff;
}
.gambargede{
	background-image: url("../bg/detail.jpg");
	height: 100%;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
	color: #fff;
	padding: 40px 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar-brand{
	font-family: 'PT Serif', serif;
}
.navbar{
	padding: 15px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
}
.form-control{
	border: none!important;
	width: 90%!important;
}
.bg-biru{
	background: #005995;
}
.bg-kuning{
	background: #f7e50a;
}
.cari{
	background: #fff;
	padding: 0px 15px;
	border-radius: 100px;
	width: 57%;
}
.login{
	border-radius: 100px;
}
.isi{
	line-height: 1.5em;
    font-size: 11pt;
    text-align: justify;
}
.isi h5{
	margin-bottom: 0px;
	padding-bottom: 10px;
	border-bottom: 3px solid #005995;
}
.isi p{
	margin-bottom: 3rem;
}
.footer{
	padding: 20px 0px;
}
footer.credit{
	background: #005995;
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
    bottom: 0;
    width: 100%;
}
.info{
	background-color: #f2f2f2!important;
	padding: 10px 5px;
	text-align: center;

}
.jurnal p{
	margin-bottom: 15px;
	
}
.info h6{
	font-size: 15px;
	
}
.info p{
	font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.isi h4{
	text-transform: capitalize;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.isi .abstrak{
	opacity: 0.7;
	margin-bottom: 5px;
}
.jurnal{
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
    padding: 0px 15px 20px 15px;
}