@import url('https://fonts.googleapis.com/css?family=PT+Serif|Poppins&display=swap');

body{
	font-family: poppins;
	background: #fff;
}
*:focus{
	outline: none!important;
	box-shadow: none!important;
}
.navbar-brand{
	font-family: 'PT Serif', serif;
}
.navbar{
	padding: 15px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
}
.form-control{
	border: none!important;
	width: 90%!important;
}
.bg-biru{
	background: #005995;
}
.bg-kuning{
	background: #f7e50a;
}
.bg-uad{
	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 89, 149, 0.19)), url(../bg/homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.overlay{
	opacity: 0.9;
    background-color: #ffcc00;
}
.cari{
	background: #fff;
	padding: 0px 15px;
	border-radius: 100px;
}
.isi{
	max-width: 40%;
	margin: 0 auto;
	padding: 80px 0px;
}
.isi label{
	font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.login{
	border-radius: 100px;
}

.footer{
	padding: 20px 0px;
}
.judul{
    font-weight: bold;
    color: #005995;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
footer.credit{
	background: #005995;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}