@media screen and (max-width:1024px){
	.isi {
		max-width: 56%!important;
	}
	.cariah{
		width: 68%;
	}
}

@media screen and (max-width:768px){
	.isi {
		max-width: 86%!important;
	}
	.isidetail{
		max-width:100%!important;
	}
	.cariah {
		width: 100%;
	}
	.gambardetail img{
		width: 39%;
	}
	.card-publish{
		column-count:1;
	}
}

@media screen and (max-width:414px){
	.cari>.form-control{
		border: none!important;
		width: 86%!important;
	}
	.dataatas{
		margin: 0px;
		text-align: center;
	}
	.kertas{
		display: flow-root;
	}
}

@media screen and (max-width:375px){
	.cari>.form-control{
		border: none!important;
		width: 80%!important;
	}
}