f@import url('https://fonts.googleapis.com/css?family=PT+Serif|Poppins&display=swap');

body{
	font-family: poppins;
	background: #f3f3f3;
}
*:focus{
	outline: none!important;
	box-shadow: none!important;
}
.navbar-brand{
	font-family: 'PT Serif', serif;
}
.kertas{
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.12);
	margin: 20px 10px;
	margin-bottom: 0px!important;
}
img{
	width: 100%;
}

.bg-utama{
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.13);
	color: #fff;
	background: #005995!important;
}

footer{
	    background: #5a5a5a;
    color: #fff;
    padding: 10px 0px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.judul{
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}